/* Estilos para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
   }
   header {
    background-color: #f2f2f2;
    padding: 20px;
   }
   section {
    margin: 20px;
   }
   footer {
    background-color: #f2f2f2;
    padding: 10px;
   }
   /* Estilos responsivos */
   @media (max-width: 600px) {
    body {
    font-size: 16px;
    }
    header, section, footer {
    padding: 10px;
    }
   }